:root {
  --yellow: rgb(255, 253, 186);
  --green: rgb(212, 255, 209);
  --red: rgb(255, 198, 198);
  --blue: rgb(198, 208, 255);
  --purple: rgb(232, 194, 232);
  --gray: rgb(202, 202, 202);
  --pink: rgb(255, 213, 220);
  --black: rgb(0, 0, 0);
  --darkBlue: rgb(3, 0, 80);
  --lightBlue: rgb(212, 213, 237);
  --orange: orange;
  --white: white;
  --gray: #313131;
}

/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the navbar container */
#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  padding: 15px;
  overflow-x: auto;
  white-space: nowrap;
  width: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  padding: 3px;

}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links a {
  color: var(--white);
  text-decoration: none;
}

.navbar-links a:hover {
  color: var(--orange);
}

.navbar-links a.active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--orange);
}

#home,
#tab1,
#tab2,
#tab3,
#tab4,
#tab5,
#tab6,
#tab7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  background-image: url('./Media/homepage.png');
}

#navbar-buttons {
  display: flex;
  flex-direction: row;
  padding: 3px;
}


/* Add a media query for screens with a max width of 740px */
@media (max-width: 740px) {
  /* Flex the container and its children */
  #navbar-container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  /* Flex the navbar and navbar-buttons sections */
  #navbar {
    position: relative; /* Add relative positioning */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  #navbar-buttons {
    position: absolute; /* Add absolute positioning */
    top: 45px; /* Adjust the positioning as needed */
    left: 0; /* Adjust the positioning as needed */
    background-color: var(--gray); /* Optional: Add a background color */
    padding: 1rem; /* Optional: Add padding for spacing */
    width: auto; /* Take full width */
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  #navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    pointer-events: none; /* Make it non-interactable */
    z-index: 1; /* Place it above the navbar */
    background: linear-gradient(to right, var(--gray) 0%, var(--gray) 0%, transparent 5%, transparent 85%, var(--gray) 100%, var(--gray) 100%);
  }
  
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 50%;
  margin: 0px 2.5px 0px 2.5px;

}

.login-button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0px 2.5px 0px 2.5px;
  width: 80px;
}

.signup-button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0px 2.5px 0px 2.5px;
  width: 80px;
}

.search-button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0px 2.5px 0px 2.5px;
  width: 80px;
}


/* Apply flexbox to the container */
.navbar-login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover,
.signup-button:hover,
.search-button:hover {
  background-color: var(--darkBlue);
}

/* Pop-up styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--darkBlue);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.welcome p {
  margin: 0;
}

/* Common styles for .welcome */
.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffffda;
  border: 1px solid var(--darkBlue);
  width: 40%;
  border-radius: 15px;
  font-size: 45px;
  margin: 120px 0px 50px 70px;
  color: var(--darkBlue);
  align-items: center;
  justify-content: flex-start;
}

/* Add staggered spacing using ::before pseudo-element */
.welcome-paragraphs p {
  position: relative;
  padding-left: 20px; /* Adjust the value as needed */
}

.welcome-paragraphs p::before {
  content: '\00a0\00a0'; /* Add non-breaking spaces for spacing */
  position: absolute;
  left: 0;
}

.welcome-paragraphs {
  font-size: 25px;
  margin: 20px 0 0 35px;
  color: var(--black);
  text-indent: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px var(--orange);
}


.regular-p {
  font-size: 25px;
  margin: 20px 0 0 35px;
  color: var(--black);
  text-indent: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px var(--orange);
}


/* Media query styles */
@media (max-width: 740px) {
  .welcome.mobile {
    /* Mobile specific styles */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
  }

  .welcome-paragraphs p.mobile {
  position: relative;
  padding-left: 0px; /* Adjust the value as needed */
  }

  .regular-p.mobile {
    text-align: center; /* Center the text content */
    font-size: 20px;
    color: var(--black);
    text-indent: 0;
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--orange);
    margin: 5px 0px 0px 0px;
    padding: 0;
  }

    /* Remove padding for paragraphs within welcome-paragraphs */
  .welcome-paragraphs p {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;
    font-size: large;
  }

  /* Remove pseudo-element for spacing */
  .welcome-paragraphs p::before {
    content: none;
  }
}

#people {
  display: flex;
  margin: 75px 20px 20px 20px
}

#people .box {
  flex: 1;
  border: 1px solid var(--red);
  background-color: var(--yellow);
  margin: 20px;
  height: auto;
  width: auto;
}

@media (max-width: 740px) {
  .photos.mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

/* Style the footer */
#footer-container {
  background-color: var(--orange);
  color: var(--darkBlue);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

