:root {
  --yellow: rgb(255, 253, 186);
  --green: rgb(212, 255, 209);
  --red: rgb(255, 198, 198);
  --blue: rgb(198, 208, 255);
  --purple: rgb(232, 194, 232);
  --gray: rgb(202, 202, 202);
  --pink: rgb(255, 213, 220);
  --black: rgb(0, 0, 0);
  --darkBlue: rgb(3, 0, 80);
  --lightBlue: rgb(212, 213, 237);
  --orange: orange;
  --white: white;
  --gray: #313131;
}

body, ul {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  padding: 15px;
  overflow-x: auto;
  white-space: nowrap;
  width: auto;
  z-index: 1;
}

#navbar {
  display: flex;
  flex-direction: row;

}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  margin: 0px 5px 0px 5px;
}

.navbar-links a {
  color: var(--white);
  text-decoration: none;
}

.navbar-links a:hover {
  color: var(--orange);
}

.navbar-links a.active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--orange);
}

#home,
#tab1,
#tab2,
#tab3,
#tab4,
#tab5,
#tab6,
#tab7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  background-image: url('./Media/homepage.png');
}

#navbar-buttons {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

@media (max-width: 740px) {
  #navbar-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
    overflow-x: auto;
  }

  #navbar-buttons {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    right: 0;
    top: 35px;
    padding: 1rem;
    background-color: var(--gray); 
    z-index: 1;
  }

  #navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  #navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    pointer-events: none;
    z-index: 2;
    background: linear-gradient(to right, var(--gray) 0%, rgba(128, 128, 128, 0) 0%, transparent 80%, rgba(128, 128, 128, 0) 85%, var(--gray) 100%);
  }
}

.navbar-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search input {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 50%;
  margin: 0px 2.5px 0px 2.5px;

}

.navbar-login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button,
.logout-button,
.signup-button,
.search-button {
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0px 2.5px 0px 2.5px;
  width: 80px;
}

.login-button:hover,
.logout-btton:hover,
.signup-button:hover,
.search-button:hover {
  background-color: var(--darkBlue);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--darkBlue);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  background-color: #ffffffda;
  border: 1px solid var(--darkBlue);
  width: 40%;
  border-radius: 15px;
  font-size: 45px;
  margin: 120px 0px 50px 65px;
  color: var(--darkBlue);
  align-items: center;
  justify-content: flex-start;
}

.welcome p {
  margin: 0;
}

.welcome-paragraphs p {
  position: relative;
  padding-left: 20px;
}

.welcome-paragraphs p::before {
  content: '\00a0\00a0';
  position: absolute;
  left: 0;
}

.welcome-paragraphs {
  font-size: 25px;
  margin: 20px 0 0 35px;
  color: var(--black);
  text-indent: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px var(--orange);
}

.regular-p {
  font-size: 25px;
  margin: 20px 0 0 35px;
  color: var(--black);
  text-indent: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px var(--orange);
}

@media (max-width: 740px) {
  .welcome.mobile {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }

  .welcome-paragraphs p.mobile {
  position: relative;
  padding-left: 0px;
  }

  .regular-p.mobile {
    text-align: center;
    font-size: 20px;
    color: var(--black);
    text-indent: 0;
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--orange);
    margin: 5px 0px 0px 0px;
    padding: 0;
  }

  .welcome-paragraphs p {
    padding: 0px 5px 0px 5px;
    margin-top: 25px;
    font-size: large;
  }

  .welcome-paragraphs p::before {
    content: none;
  }
}

#people {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
}

.photo {
  max-width: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
}

.download-option {
  color: var(--darkBlue);
  padding: 10px;
  border-radius: 0;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.download-option:hover {
  background-color: var(--orange);
}

@media (max-width: 740px) {

  #people {
    display: flex;
    flex-direction: column;
    margin: 90px 20px 20px 20px;
  }

  .photo {
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .download-option {
    color: var(--darkBlue);
    padding: 10px;
    border-radius: 0;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .download-option:hover {
    background-color: var(--orange);
  }

  .box {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 0 10px 0;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    font-size: 24px;
    color: white;
    margin: 0 5px;
  }
  .icon.star {
    font-size: 24px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
  }

  .icon:hover,
  .icon.star.filled:hover {
    color: var(--orange);
  }
  
  .icon.star.filled {
    color: var(--orange);
  }
}

#footer-container {
  background-color: var(--orange);
  color: var(--darkBlue);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image-card {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card:hover {
  transform: scale(1.03);
}

.image-card img {
  max-width: 100%;
  height: auto;
}

.image-description {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.image-description p {
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 5px 0;
}

.image-container:hover .overlay {
  opacity: 1;
}

.download-button,
.favorites-button {
  color: var(--white);
  background-color: var(--darkBlue);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 5px;
  display: inline-block;
}

.download-button:hover,
.favorites-button:hover {
  background-color: var(--orange);
}
.image-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}