:root {
     --yellow: rgb(255, 253, 186);
     --green: rgb(212, 255, 209);
     --red: rgb(255, 198, 198);
     --blue: rgb(198, 208, 255);
     --purple: rgb(232, 194, 232);
     --gray: rgb(202, 202, 202);
     --pink: rgb(255, 213, 220);
     --black: rgb(0, 0, 0);
     --darkBlue: rgb(3, 0, 80);
     --lightBlue: rgb(212, 213, 237);
     --orange: orange;
}

body {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */
nav {
     display: flex;
     justify-content: left;
     margin: 0;
     padding: 0;
     border: none;
}
nav a {
     margin: 0;
     text-decoration: none;
     color: var(--lightBlue);
     padding: 5px 20px;
     transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
     border-radius: 10px 10px 0 0;
}

/* Main */
#content-container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 0;
     border: none;
     width: 100%;
}
.tab-content {
     display: none;
     margin: 0;
     padding: 20px;
}
.tab-content.active {
     display: block;
}

/* Apply background colors for each tab */
#tab1 {
     background-color: var(--yellow);
}
#tab2 {
     background-color: var(--green);
}
#tab3 {
     background-color: var(--red);
}
#tab4 {
     background-color: var(--blue);
}
#tab5 {
     background-color: var(--purple);
}
#tab6 {
     background-color: var(--gray);
}
#tab7 {
     background-color: var(--pink);
}

/* Styles for active tabs */
nav a.active[href="#home"],
nav a:hover[href="#home"] {
     color: var(--darkBlue);
     background-color: #eee;
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab1"],
nav a:hover[href="#tab1"] {
     color: var(--darkBlue);
     background-color: var(--yellow);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab2"],
nav a:hover[href="#tab2"] {
     color: var(--darkBlue);
     background-color: var(--green);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab3"],
nav a:hover[href="#tab3"] {
     color: var(--darkBlue);
     background-color: var(--red);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab4"],
nav a:hover[href="#tab4"] {
     color: var(--darkBlue);
     background-color: var(--blue);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab5"],
nav a:hover[href="#tab5"] {
     color: var(--darkBlue);
     background-color: var(--purple);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab6"],
nav a:hover[href="#tab6"] {
     color: var(--darkBlue);
     background-color: var(--gray);
     box-shadow: 5px -4px 6px rgba(0, 0, 0, 0.25);
}
nav a.active[href="#tab7"],
nav a:hover[href="#tab7"] {
     color: var(--darkBlue);
     background-color: var(--pink);
     box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.25);
}


.background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-image: url('../src/media/homepage.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     /* animation: slideshow 15s infinite; Optional: Add animation for a slideshow effect */
     }


#left-column {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 40px;
     width: 65%; /* Occupy 50% width of the container */
     box-sizing: border-box; /* Include padding and border in the width calculation */
}

#right-column {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 40px;
     width: 35%; /* Occupy 35% width of the container */
     box-sizing: border-box; /* Include padding and border in the width calculation */
}

#welcome {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 40px;
     background-color: #ffffffda;
     border: 1px solid var(--darkBlue);
     justify-content: left;
     width: auto;
     border-radius: 15px;
}

.welcome {
     font-size: 45px;
     margin: 10px 0px;
     color: rgb(2, 0, 62);
}

.welcome p {
     margin: 20px 0px 0px 35px;
     font-size: 20px;
}


.search-bar {
     display: flex;
     flex-direction: row;
     justify-content: center; /* Center items vertically */
     flex: 1; /* Occupy remaining height */
     padding: 20px;
}

.search-bar input[type="text"] {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     flex: 1;
     max-width: 70%; /* Increase the max-width value to make the search bar wider */
     margin: 10px; /* Adjust margin for spacing */
}

.search-bar button {
     padding: 8px 16px;
     border-radius: 4px;
     background-color: var(--orange);
     color: white;
     border: none;
     cursor: pointer;
     margin: 10px;
     max-width: 15%;
}

.search-bar button:hover {
     background-color: var(--darkBlue);
}



/* Footer */
#footer-container {
     background-color: var(--orange);
     color: var(--darkBlue);
     text-align: center;
     position: absolute;
     bottom: 0;
     width: 100%;
}